hr {
  border-style: none;
  border-top-style: dotted;
  border-color : #cd0a0a;
  border-width: 5px;
}
h1 {
   font: 100px Bradley Hand ITC, sans-serif;
   color: #ff7171}
h2 {
  font: 70px Bradley Hand ITC, sans-serif;
  color: #f1f3f8;
}
h3 {
  background-color: grey;
}

.background {
background-image: url(https://images.unsplash.com/photo-1527352675495-d54e8f102689?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
height:620px;

}
body {
  margin-left:0px;
  margin-right:0px;
  margin-top: 0px;
}
p{
  margin-left: 20px;
  margin-right: 20px;
  margin-top:20px;
  margin-bottom: 20px;
  }
