.redwala{
  border-style: none;
  border-top-style: dotted;
  border-color : #cd0a0a;
  border-width: 5px;
}
h1 {
  font-family: 'Bad Script', cursive;
  color: #ff7171;
  font-size: 100px;
  margin-top:50px;
  }
h2 {
  font-family: 'Nanum Pen Script', cursive;
  color: #ff7171;
  font-size: 60px;
  margin-bottom:70px;
  }
h3{
  font-size: 30px;
  font-family: 'Cinzel', serif
}


.background {
background-image: url(https://images.unsplash.com/photo-1527352675495-d54e8f102689?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
height:620px;

}
.photo {
  margin-left:0px;
  margin-right:0px;
  margin-top:0px;
}
p{
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 20px;
  margin-left:100px;
  margin-right:100px;
  color: black;
}
.lines{
  border-style: none;
  border-top-style:dashed;
  border-color : blue;
  border-width: 1px;
}
